.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .btnSubmit {
    background-color: #5e5a5a;
    padding: 10px 20px;
    color: #fff;
    margin-left: 20px;
  }
  .btn-group {
    display: flex;
  }
}
.title {
  margin-bottom: 30px;
  font-size: 26px;
}