.edit-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  img {
    width: 400px;
    height: 400px;
  }
  .form-edit {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    .input-group {
      display: flex;
      .input-item {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
    }
  }
  .btn-group {
    display: flex;
    justify-content: space-around;
  }
  .updateBtn {
    width: 100px;
    background-color: #5e5a5a;
    color: #e9ecec;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .removeBtn {
    width: 100px;
    background-color: #e82424;
    color: #e9ecec;
    padding: 10px 20px;
    border-radius: 8px;
  }
}
.link-btn {
  padding: 10px 20px;
  background-color: #3c3ce5;
  color: #e9ecec;
  border-radius: 12px;
  margin: 20px 0 0 100px;

}