.card {
  width: 500px;
  box-shadow: -2px -2px 24px -2px rgba(143,141,143,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 12px;
  margin-top: 20px;

  &:hover {
    box-shadow: -2px -2px 46px 12px rgba(143,141,143,1);
    transition: box-shadow 0.3s ease-in-out;
  }
  &-description {
    padding: 20px;
    text-align: center;

    &-title {
      color: #5e5a5a
    }
    &-price {
      color: #e82424
    }
  }
  .btn {
    padding: 10px 40px;
    margin-bottom: 20px;
    border: none;
    background-color: #4db6ac;
    border-radius: 12px;
    &:hover {
      background-color: #b2dfdb;
      transition: 0.6s;
    }
    &:focus{
      outline: none;
    }
    &:active{
      outline: none;
    }

  }
  img {
    width: 500px;
    height: 600px;
  }
}